<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.codex.fuxicameranativehook" platformBuildVersionCode="36" platformBuildVersionName="16">
    <application android:allowBackup="false" android:debuggable="false" android:hasCode="true" android:label="Fuxi Camera Direct JPEG Fix">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="Routes Xiaomi Camera normal stills from shot type 16 to direct JPEG shot type 0."/>
        <meta-data android:name="xposedminversion" android:value="93"/>
    </application>
</manifest>
