<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codex.wechatfcmtokenbridge"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="27" android:targetSdkVersion="28" />
    <application
        android:allowBackup="false"
        android:debuggable="false"
        android:hasCode="true"
        android:label="WeChat FCM Token Bridge">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Observes WeChat's native FCM path and permits one version-locked native token rebind." />
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>
</manifest>
