<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="dev.codex.xiaomiaccount.miuiintentfix" platformBuildVersionCode="36" platformBuildVersionName="16">
    <application android:allowBackup="false" android:debuggable="false" android:extractNativeLibs="false" android:hasCode="true" android:label="Xiaomi Account MIUI Intent Fix" android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="Xiaomi compatibility fix with Android 16 eSE routing and one system-server power wallet gesture controller"/>
        <meta-data android:name="xposedminversion" android:value="82"/>
    </application>
</manifest>
